Django
python-dotenv
boto3
botocore
pandas
tqdm
openpyxl
ffmpeg-python
requests
celery
redis
django-celery-results
flower
django-storages
django-celery-beat
opencv-python 
numpy
rich 
psutil
colorama
honcho